.root {
    -fx-background-color: floralwhite;
    -fx-font-family: sans-serif;
}

#title {
    -fx-font-weight: bold;
    -fx-font-size: 200%;
}

.button {
    -fx-background-color: #29B6F6;
    -fx-text-fill: #E1F5FE;
    -fx-font-weight: 900;
}

#die-button {
    -fx-alignment: center;
    -fx-cell-size: 100%;
    -fx-text-fill: black;
    -fx-font-size: 200%;

    -fx-pref-height: 100%;
    -fx-pref-width: 100%;
    -fx-opacity: 80%;

    -fx-border-width: 200%;
    -fx-border-color: tomato;
}

#die-button:disabled {
    -fx-text-fill: black;
    -fx-opacity: 60%;

    -fx-border-width: 100%;
    -fx-border-color: transparent;
}

#anchorPane {
    -fx-pref-width: 100%;
    -fx-pref-height: 100%;
}